# Nombre de la aplicación
NOMBRE_APP=FitFever

# Puerto de la máquina real a través del cual será accesible el servidor web runserver del contenedor
HTTP_PUERTO=8000

# Puerto de la máquina real a través del cual será accesible el servidor de bases de datos del contenedor
POSTGRES_PORT=5432

# Datos de conexión a la base de datos
BD_ROOT_PASSWORD=administrador
BD_NOMBRE=fitfever_db
BD_USUARIO=alberto
BD_USER_PASSWORD=alberto