<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate Success</title>
</head>
<body>
    <!-- Se puede ver hacer una variable de entorno, cambiar depende docker o desarrollo-->
    <script>
        window.onload = function(){
            window.location.href = "http://127.0.0.1:3000/login";
            // window.location.href = "https://fit-fever.vercel.app/login";
        };
    </script>
    
</body>
</html>