<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Semanal de Nutrición</title>
</head>

<body>
    <div style="font-family: Arial, sans-serif; line-height: 1.6;">
        <div style="background-color: #f8f8f8; padding: 10px 20px; text-align: center;">
            <h1 style="margin: 0;">Reporte Semanal de Nutrición</h1>
        </div>
        <div style="padding: 20px;">
            <p>Hola {{ user }},</p>
            <p>Adjunto encontrarás el reporte semanal de tu nutrición. Este reporte incluye la siguiente información:
            </p>
            <ul>
                <li>Calorías restantes y consumidas</li>
                <li>Suma de grasas</li>
                <li>Suma de carbohidratos</li>
                <li>Suma de proteínas</li>
            </ul>
            <p>Esperamos que esta información te sea útil para seguir monitoreando tu progreso nutricional.</p>
            <p>Si tienes alguna pregunta o necesitas más detalles, no dudes en contactarnos.</p>
            <p>Saludos,<br>El equipo de FitFever</p>
        </div>
        <div style="background-color: #f8f8f8; padding: 10px 20px; text-align: center; font-size: 0.9em; color: #666;">
            <p>&copy; 2024 FitFever. Todos los derechos reservados.</p>
        </div>
    </div>
</body>

</html>